// fonts
$button-text-font: Archivo;
$text-font: Roboto;

// colors
$background-primary: #FFFF;
$background-secondary: #596799;
$background-gradient: linear-gradient(91.92deg, #D8CCB5 1.25%, rgba(89, 103, 153, 0.67) 96.07%);

// text colors
$text-color-primary: #4D4D4D;
$text-color-secondary: #AAAAAA;
$logo-text-color: $background-secondary; 
$logo-text-color-secondary: #D79515;
// icon color
$icon-color-default: $background-secondary;

